h2 {
    font-weight: bold;
}

h1 {
    margin: auto 0;
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

#logo {
    margin: 15px 15px 15px 15px;
}

#label {
    margin-right: 25px;
}
ion-item-option {
    margin: auto 0;
}
