

<ion-content>
  <ion-item *ngIf="config==null">
    No market data available
  </ion-item>



  <div *ngIf="config!=null">

    <ion-item text-end color="primary" lines="none">
      <ion-buttons slot="start">
        <ion-button  [routerLink]="[ '/home' ]" routerDirection="back">
          <ion-icon color="light" name="arrow-round-back">Back</ion-icon>
        </ion-button>
      </ion-buttons>
      <h1>{{ top10.data[coinPosition].name}}</h1>    
      <ion-thumbnail slot="end" >
        <ion-img src="{{config.data[currentCoin].logo}}"></ion-img>  
      </ion-thumbnail>

      
    </ion-item>
    <ion-item  color="primary">
      <ion-img src="./assets/images/chart.png"></ion-img>

    </ion-item>


    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Market Details</ion-card-title>
        <ion-card-subtitle>{{ top10.data[coinPosition].quote.EUR.last_updated | date }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-label>Price</ion-label>
            <ion-label text-end color="primary"><h1>{{ top10.data[coinPosition].quote.EUR.price | currency: 'EUR' }}</h1></ion-label>
          </ion-item>
          <ion-item>
            <ion-label><h3>Volume</h3></ion-label>
            <ion-label size="6" text-end color="primary"><h2>{{ top10.data[coinPosition].quote.EUR.volume_24h | currency: 'EUR' }}</h2></ion-label>
          </ion-item>
          <ion-item>
            <ion-label><h3>Change 24h</h3></ion-label>
            <ion-label [ngClass]="{'red' : top10.data[coinPosition].quote.EUR.percent_change_24h<0, 'green': top10.data[coinPosition].quote.EUR.percent_change_24h>0 }" text-end color="primary"><h2>{{ top10.data[coinPosition].quote.EUR.percent_change_24h }}%</h2></ion-label>
          </ion-item>
          <ion-item>
            <ion-label><h3>Change 7d</h3></ion-label>
            <ion-label [ngClass]="{'red' : top10.data[coinPosition].quote.EUR.percent_change_24h<0, 'green': top10.data[coinPosition].quote.EUR.percent_change_24h>0 }" text-end color="primary"><h2>{{ top10.data[coinPosition].quote.EUR.percent_change_7d }}%</h2></ion-label>
          </ion-item>
          <ion-item>
            <ion-label><h3>Market cap</h3></ion-label>
            <ion-label text-end color="primary"><h2>{{ top10.data[coinPosition].quote.EUR.market_cap | currency: 'EUR' }}</h2></ion-label>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>
          
  </div>
</ion-content>
