<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <ion-item lines="none" color="light">
        <ion-thumbnail id="logo">
          <ion-img src="../../assets/images/cmc.png"></ion-img>   
        </ion-thumbnail>      
        <ion-label><h1>CoinMarketCap</h1></ion-label>  
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="this.data.config!=null">

      <ion-item *ngFor="let position of this.data.cmcTop10Id; let i = index" routerLink="/info/{{this.data.config.data[position].id}}" color="secondary" lines="inline" detail>
        <ion-avatar size="small" slot="start">
          <ion-img src="{{this.data.config.data[position].logo}}"></ion-img>
        </ion-avatar>
        <ion-label color="primary">

          <ion-grid>
            
            <ion-row>
              <ion-col>
                <h2><ion-note color="medium" slot="start">{{ i+1 }}.</ion-note>&nbsp;{{ this.data.top10.data[i].name }}</h2>
              </ion-col>

              <ion-col [ngClass]="{'red' : this.data.top10.data[i].quote.EUR.percent_change_24h<0, 'green': this.data.top10.data[i].quote.EUR.percent_change_24h>0 }" text-end>
                <h2>{{ this.data.top10.data[i].quote.EUR.price | currency: 'EUR'}}</h2> 
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col text-start>
                <h3>{{ this.data.top10.data[i].quote.EUR.market_cap | currency: 'EUR' }}</h3>
              </ion-col>
              <ion-col [ngClass]="{'red' : this.data.top10.data[i].quote.EUR.percent_change_24h<0, 'green': this.data.top10.data[i].quote.EUR.percent_change_24h>0 }" text-end>
                <h3>{{ this.data.top10.data[i].quote.EUR.percent_change_24h | number:'.2-2' }}%</h3>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </ion-label>

        
      </ion-item>  

  

  </ion-list>



  <ion-list *ngIf="this.data.config!=null&&showListById">
    <ion-item-sliding *ngFor="let position of cmcPositions">
      <ion-item color="secondary" lines="inset">
        
        <ion-thumbnail slot="start">
            <ion-img src="{{this.data.config.data[position].logo}}"></ion-img>
        </ion-thumbnail>
        <ion-label color="light">
          <ion-note color="medium" slot="start">{{ this.data.config.data[position].id }}</ion-note>
          <h1>{{ this.data.config.data[position].name }}</h1>        
        </ion-label>

        <ion-button fill="outline" slot="end">Market</ion-button>

      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="none">
          <ion-button fill="clear" href="{{ this.data.config.data[position].urls.website }}" color="primary">
            <ion-icon size="large" name="desktop"></ion-icon>
          </ion-button>
        </ion-item-option>

        <ion-item-option color="none" >
          <ion-button fill="clear" href="{{ this.data.config.data[position].urls.twitter }}" color="primary">
            <ion-icon size="large" name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-item-option>

      </ion-item-options>      
    </ion-item-sliding>

  
  </ion-list>

</ion-content>
